body {
   min-height: 2000px;
   padding-top: 70px;
   /* Margin bottom by footer height */
   margin-bottom: 60px;
}

.description-text {

   /* Prevent long-url overflow to container */
   -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;

   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
}

